.navbar{
  background-color: #363636;
}

body{
  background-color: #1F1F1F !important;
  
 
}

.hr{
  color: #363636 ;
}

.slick-list{
  padding: 0 !important;
}
.item{
  background-color: #2A2A2A !important;
  color: #ED5566 !important;
}

.footercss{
  background-color:#323232 !important;
  
  
}
